ICT3104_Group4_SMS/bin/ICT3104_Group4_SMS.dll
ICT3104_Group4_SMS/obj/Debug/ICT3104_Group4_SMS.pdb
ICT3104_Group4_SMS/obj/Debug/ICT3104_Group4_SMS.dll
ICT3104_Group4_SMS/bin/ICT3104_Group4_SMS.pdb
ICT3104_Group4_SMS/bin/ICT3104_Group4_SMS.dll
ICT3104_Group4_SMS/obj/Debug/ICT3104_Group4_SMS.pdb
*.dll
ICT3104_Group4_SMS/bin/ICT3104_Group4_SMS.pdb
*.pdb
ICT3104_Group4_SMS/obj/Debug/ICT3104_Group4_SMS.dll
*.cache
*.config