
@{
    ViewBag.Title = "ArchivedStudentsView";
}

<h2>ArchivedStudentsView</h2>

<button onclick="location.href='@Url.Action("Archive", "Admin")';return false;" class="btn btn-primary"><i class="pe-7s-study"></i>Archive</button>