@*@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Template Page</h4>
            </div>
            <div class="panel-body">
                <p>You can use this to start your new pages and change the content here.</p>
                <p>You can check all the tabs under 'UI Related' for the different elements/components to use.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <div class="card">
            <div class="header">
                <h4 class="title">Multiple Cards</h4>
            </div>
            <div class="panel-body">
                <p>You can also have more than 1 card in a row.</p>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="card">
            <div class="header">
                <h4 class="title">Multiple Cards</h4>
            </div>
            <div class="panel-body">
                <p>See 'UI Related -> Grids' and 'UI Related -> Sample Dashboard' for more examples.</p>
            </div>
        </div>
    </div>
</div>*@