
@{
    ViewBag.Title = "Grids";
}

<!-- start of dividing one cards into multiple sections-->
<div class="card">
    <div class="header">
        <h4 class="title">Grids</h4>
        <p class="category"></p>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-lg-12"><div class="well"><p>12 wide</p></div></div>
        </div>

        <div class="row">
            <div class="col-md-4"><div class="well"><p>4 cols</p></div></div>
            <div class="col-md-4"><div class="well"><p>4 cols</p></div></div>
            <div class="col-md-4"><div class="well"><p>4 cols</p></div></div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-sm-6"><div class="well"><p>6 cols, 6 small cols</p></div></div>
            <div class="col-lg-6 col-sm-6"><div class="well"><p>6 cols, 6 small cols</p></div></div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6"><div class="well">4 cols, 6 small cols</div></div>
            <div class="col-lg-4 col-sm-6"><div class="well">4 cols, 6 small cols</div></div>
            <div class="col-lg-4 col-sm-12"><div class="well">4 cols, 12 small cols</div></div>
        </div>

        <div class="row">
            <div class="col-md-3"><div class="well"><p>3 md cols</p></div></div>
            <div class="col-md-3"><div class="well"><p>3 md cols</p></div></div>
            <div class="col-md-3"><div class="well"><p>3 md cols</p></div></div>
            <div class="col-md-3"><div class="well"><p>3 md cols</p></div></div>
        </div>

        <div class="row">
            <div class="col-xs-3"><div class="well"><p>3 xs cols</p></div></div>
            <div class="col-xs-3"><div class="well"><p>3 xs cols</p></div></div>
            <div class="col-xs-3"><div class="well"><p>3 xs cols</p></div></div>
            <div class="col-xs-3"><div class="well"><p>3 xs cols</p></div></div>
        </div>
    </div>
</div>

<!-- start of dividing cards into grids -->
<!-- one full row width card -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Col Md 12 Card</h4>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-lg-12"><div class="well"><p>12 wide</p></div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- two cards in a row-->
<div class="row">
    <div class="col-lg-6 col-sm-6">
        <div class="card">
            <div class="header">
                <h4 class="title">Col Lg/Sm 6 Cards</h4>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-lg-12"><div class="well"><p>12 wide</p></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6">
        <div class="card">
            <div class="header">
                <h4 class="title">Col Lg/Sm 6 Cards</h4>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-lg-12"><div class="well"><p>12 wide</p></div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- three cards in a row -->
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="header">
                <h4 class="title">Col Md 4 Cards</h4>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-lg-12"><div class="well"><p>12 wide</p></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="header">
                <h4 class="title">Col Md 4 Cards</h4>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-lg-12"><div class="well"><p>12 wide</p></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="header">
                <h4 class="title">Col Md 4 Cards</h4>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-lg-12"><div class="well"><p>12 wide</p></div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- four cards in a row-->
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="header">
                <h4 class="title">Col Md 3 Cards</h4>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-lg-12"><div class="well"><p>12 wide</p></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="header">
                <h4 class="title">Col Md 3 Cards</h4>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-lg-12"><div class="well"><p>12 wide</p></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="header">
                <h4 class="title">Col Md 3 Cards</h4>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-lg-12"><div class="well"><p>12 wide</p></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="header">
                <h4 class="title">Col Md 3 Cards</h4>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-lg-12"><div class="well"><p>12 wide</p></div></div>
                </div>
            </div>
        </div>
    </div>
</div>