
@{
    ViewBag.Title = "Typography";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Light Bootstrap Table Heading</h4>
                <p class="category">Created using Roboto Font Family</p>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover">
                    <col width="15%" />
                    <tbody>
                        <tr>
                            <td><h1><p class="category">Header 1</p></h1></td>
                            <td><h1>Light Bootstrap Table Heading</h1></td>
                        </tr>
                        <tr>
                            <td><h2><p class="category">Header 2</p></h2></td>
                            <td><h2>Light Bootstrap Table Heading</h2></td>
                        </tr>
                        <tr>
                            <td><h3><p class="category">Header 3</p></h3></td>
                            <td><h3>Light Bootstrap Table Heading</h3></td>
                        </tr>
                        <tr>
                            <td><h4><p class="category">Header 4</p></h4></td>
                            <td><h4>Light Bootstrap Table Heading</h4></td>
                        </tr>
                        <tr>
                            <td><h5><p class="category">Header 5</p></h5></td>
                            <td><h5>Light Bootstrap Table Heading</h5></td>
                        </tr>
                        <tr>
                            <td><h6><p class="category">Header 6</p></h6></td>
                            <td><h6>Light Bootstrap Table Heading</h6></td>
                        </tr>
                        <tr>
                            <td><p><span class="category">Paragraph</span></p></td>
                            <td><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p></td>
                        </tr>
                        <tr>
                            <td><p class="category">Quote</p></td>
                            <td>
                                <blockquote>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.
                                    </p>
                                    <small>
                                        Steve Jobs, CEO Apple
                                    </small>
                                </blockquote>
                            </td>
                        </tr>
                        <tr>
                            <td><p class="category">Muted Text</p></td>
                            <td>
                                <p class="text-muted">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td><p class="category">Coloured Text</p></td>
                            <td>
                                <p class="text-primary">
                                    Text Primary - Light Bootstrap Table Heading and complex bootstrap dashboard you've ever seen on the internet.
                                </p>
                                <p class="text-info">
                                    Text Info - Light Bootstrap Table Heading and complex bootstrap dashboard you've ever seen on the internet.
                                </p>
                                <p class="text-success">
                                    Text Success - Light Bootstrap Table Heading and complex bootstrap dashboard you've ever seen on the internet.
                                </p>
                                <p class="text-warning">
                                    Text Warning - Light Bootstrap Table Heading and complex bootstrap dashboard you've ever seen on the internet.
                                </p>
                                <p class="text-danger">
                                    Text Danger - Light Bootstrap Table Heading and complex bootstrap dashboard you've ever seen on the internet.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td><h2><p class="category">Small Tag</p></h2></td>
                            <td>
                                <h2>Header with small subtitle <br><small>".small" is a tag for the headers</small></h2>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
